/* General Reset */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("images/pho.jpg");
    background-position: right center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contact Form Container */
.contact-container {
    background-image: url("images/pho3.jpeg");
    background-position: right center;
    background-size: cover;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.contact-container h1 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.contact-container p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #666;
}

/* Input Group */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Submit Button */
.submit-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #0056b3;
}
.back-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transforms 0.3s, background-color 0.3s ease;
    position: absolute;
    top: 10px;
    right: 10px; 
}
.back-button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
    box-shadow: 0px 8px 16px gray;
}
