/* Gerenal styles */
* {
    margin:0%;
    padding: 0%;
    text-decoration: none;
}
.welcome{
    background-color: bisque;
    padding: 15px;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 20px;
    font-size: 30px;
    border: 5px solid darkgray;
    border-radius: 10%;
    position: sticky;
}
.shape {
    text-align: center;
    background-image: url("images/Pasted\ image.png");
    background-position: right center;
    background-size: cover;
    display: block;
    padding-top: 100px;
    padding-bottom: 50px;
    margin-bottom: 10px;
    border-radius: 4%;
    border: 10px;
    border-color: purple;
    }
    .shape button {
        margin: 15px;
        padding: 15px 20px;
        text-align: center;
        align-items: center;
        text-decoration: none;
        font-weight: bolder;
        cursor: pointer;
        border-radius: 5px;
        transition: transform 0.3s, background-color 0.3s;
        background-color: aquamarine;
    }
    .shape button:hover{
        transform: scale(1.1);
        background-color:rgb(249, 124, 124);
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    }
    .shape a {
        text-decoration: none;
        font-size: larger;
        color: rgb(3, 15, 11);
    }
    .all {
        display: inline-block;
        background-color: rgb(240, 12, 160);
        align-items: center;
        padding: 15px;
        margin-left: 300px;
        margin-right: 300px;
        margin-top: 20px;
    }
    .shirts {
        display: inline-block;
        background-color: aliceblue;
        border-radius: 10px;
        padding: 20px;
        margin: 20px;
        width: 200px;
        text-align: center;
        box-shadow: 0 4px 8px rgb(226, 9, 237);
    }
    .shirts img {
        background-position: left center;
        background-size: cover;
        border: 5px solid black;
        border-radius: 4%;
    }
    .shirts button{
        text-align: center;
        background-color: rgb(226, 9, 237);
        font-size: 1rem;
        margin: 15px;
        padding: 15px 20px;
        align-items: center;
        text-decoration: none;
        font-weight: bolder;
        cursor: pointer;
        border-radius: 5px;
        position:relative;
        transition: transform 0.3s, background-color 0.3s;
    }
    .shirts button:hover{
        transform: scale(1.1);
        background-color:rgb(249, 124, 124);
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    }
    .phone {
        display: inline-block;
        background-color: aliceblue;
        border-radius: 10px;
        padding: 20px;
        margin: 20px;
        width: 200px;
        text-align: center;
        box-shadow: 0 4px 8px rgb(226, 9, 237);
    }
    .phone img{
        background-position: left center;
        background-size: cover;
        border: 5px solid black;
        border-radius: 4%;
    }
    .phone button{
        text-align: center;
        background-color: rgb(226, 9, 237);
        font-size: 1rem;
        margin: 15px;
        padding: 15px 20px;
        align-items: center;
        text-decoration: none;
        font-weight: bolder;
        cursor: pointer;
        border-radius: 5px;
        position:relative;
        transition: transform 0.3s, background-color 0.3s;
    }
    .phone button:hover{
        transform: scale(1.1);
        background-color:rgb(249, 124, 124);
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    }
    .laptop {
        display: inline-block;
        background-color: aliceblue;
        border-radius: 10px;
        padding: 20px;
        margin: 20px;
        width: 200px;
        text-align: center;
        box-shadow: 0 4px 8px rgb(226, 9, 237);
    }
    .laptop img{
        background-position: left center;
        background-size: cover;
        border: 5px solid black;
        border-radius: 4%;
    }
    .laptop button {
        text-align: center;
        background-color: rgb(226, 9, 237);
        font-size: 1rem;
        margin: 15px;
        padding: 15px 20px;
        align-items: center;
        text-decoration: none;
        font-weight: bolder;
        cursor: pointer;
        border-radius: 5px;
        position:relative;
        transition: transform 0.3s, background-color 0.3s;
    }
    .laptop button:hover {
        transform: scale(1.1);
        background-color:rgb(249, 124, 124);
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    }
    .paint {
        display: inline-block;
        background-color: aliceblue;
        border-radius: 10px;
        padding: 20px;
        margin:20px;
        width: 200px;
        text-align: center;
        box-shadow: 0 4px 8px rgb(226, 9, 237);
    }
    .paint img{
        background-position: left center;
        background-size: cover;
        border: 5px solid black;
        border-radius: 4%;
    }
    .paint button {
        text-align: center;
        background-color: rgb(226, 9, 237);
        font-size: 1rem;
        margin: 15px;
        padding: 15px 20px;
        align-items: center;
        text-decoration: none;
        font-weight: bolder;
        cursor: pointer;
        border-radius: 5px;
        position:relative;
        transition: transform 0.3s, background-color 0.3s;
    }
    .paint button:hover {
        transform: scale(1.1);
        background-color:rgb(249, 124, 124);
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    }
    .search {
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
        align-items: center;
        height: auto;
        display: block;
        text-align: center;
        margin-left: 10px;
        margin-right: 20px;
    }
    .search button{
        text-align: center;
        background-color: rgb(118, 41, 242);
        font-size: 20px;
        margin: 5px;
        padding: 8px;
        align-items: center;
        text-decoration: none;
        font-weight: bolder;
        cursor: pointer;
        border-radius: 5px;
        position:relative;
        transition: transform 0.3s, background-color 0.3s;
    }
    .search button:hover{
        transform: scale(1.1);
        background-color:rgb(14, 241, 173);
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    }
    .search input{
        margin: 5px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 0px;
        padding-right: 40px;
        font-size: 20px;
        display: inline-block;
    }
    body {
        background-image: url("images/Pasted\ image\ \(7\).png");
        background-position: right center;
        background-size: cover;
    }
