/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("star.gif");
    background-position: right center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login Container */
.login-container {
    background-image: url("Pasted\ image\ \(9\).png");
    background-position: right center;
    background-size: cover;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Input Group */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Button */
.login-btn {
    background-color: #2575fc;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #1a5fb9;
}

/* Register Link */
.register-link {
    margin-top: 15px;
    font-size: 14px;
    color: #666;
}

.register-link a {
    color: #2575fc;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
.back-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transforms 0.3s, background-color 0.3s ease;
    position: absolute;
    top: 10px;
    right: 10px; 
}
.back-button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
    box-shadow: 0px 8px 16px gray;
}