/* General styles */
* {
margin: 0%;
padding: 0px;
text-decoration: none;
}
body{
    background-image: url("type.jpeg");
    background-position: right center;
    background-size: cover;
}
#option {
    background-image: url("you.jpeg");
    background-position: right center;
    background-size: cover;
    display: block;
    padding-top:30px;
    padding-bottom: 90px;
    margin-top:50px;
}
.logo {
    background-position: right center;
    background-size: cover;
    margin-top: 110px;
    margin-left: 770px;
    margin-right: 750px;
    border: 18px solid darkkhaki;
    border-radius: 4%;
}
.button button {
    padding: 20px 20px;
    margin-left: 780px;
    margin-right: 740px;
    margin-top: 50px;
    margin-bottom: 200px;
    font-weight: 1000;
    font-size: larger;
    text-align: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s, background-color 0.3s;
    background-color: rgb(7, 218, 116);
}
.button button:hover{
    transform: scale(1.1);
    background-color:rgb(241, 47, 221);
}